*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    background-color: lime;
}
footer p{
    font-size: 30px;
}

main aside{
    background-color: aqua;
}
body{
    background-color: tomato;
}
header h1{
    color: aqua;   
}
header p{
    background-color: yellow;
}

main article{
    color: blue;
}
p{
    color: red;
    background-color: white;
}